@font-face {
  font-family: 'Effra-Medium';
  src: url('Effra-Medium.eot?#iefix') format('embedded-opentype'),  url('Effra-Medium.woff') format('woff'), url('Effra-Medium.ttf')  format('truetype'), url('Effra-Medium.svg#Effra-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}